#sidebar {
  background: #253243;
  grid-area: sidebar;
  overflow: hidden;
}

.sidebar__menu {
  align-items: center;
  justify-content: center;
}

.sidebar__link > img {
  padding: 15px;
  margin-bottom: 14px;
}

.sidebar__link > img {
  padding: 15px;
  margin-bottom: 14px;
}

.enabled_btn {
  cursor: pointer;
}

.disabled_btn {
  cursor: not-allowed;
}

.sidebar__bottom > img {
  padding: 15px;
  margin-top: calc(100% + 100px);
}

.active_menu_link > img {
  background: #ff124a;
}
