#sidebar {
  background: #191975;
  grid-area: sidebar;
  overflow-y: hidden;
  padding: 5px;
}

.sidebar__menu {
  align-items: center;
  justify-content: center;
}

.sidebar__link > img {
  padding: 15px;
}

.sidebar__bottom > img {
  padding: 15px;
  margin-top: 140px;
}

.active_menu_link > img {
  background: red;
}
