.form_input > input {
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 2px;
  padding-left: 6px;
  width: 300px;
}

.form_input > .btn {
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 2px;
  width: 308px;
  text-align: center;
  background: #ff124a;
  color: white;
  cursor: pointer;
  transition: 0.8s;
}

.btn-primary:hover {
  background: #1e3799;
}

.right__side {
  display: flex;
  flex: 3;
  flex-direction: column;
  height: 100;
  justify-content: flex-start;
  align-items: center;
  background: whitesmoke;
  border-radius: 30px;
}

.right__side > .right__text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 27px;
  font-weight: 400;
  margin-top: 28%;
  margin-bottom: 21px;
}

.error__msg {
  height: 25px;
  padding: 15px;
  position: absolute;
  right: 14px;
  top: 14px;
  background: pink;
  text-align: center;
  border-radius: 14px;
  position: absolute;
}

.error__msg > button {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 12px;
  margin-left: 8px;
  cursor: pointer;
}

.outer__container {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background: #253243;
}

.left__side {
  display: flex;
  flex: 4;
  max-height: 100%;
  overflow: hidden;
}

.forgotten__pw {
  text-align: center;
  padding: 10px;
  font-weight: 500;
  font-size: small;
}
