.__container {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  height: calc(100vh - 61px);
}

.__container > .left__box {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: white;
  margin: 21px;
  border-radius: 10px;
}

.left__box > .top__row {
  display: flex;
  flex-direction: row;
  height: 55px;
  width: 100%;
  font-weight: 550;
}

.top__leftbox {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 15px;
  height: 23px;
  width: 100%;
  border-bottom: 3px solid #ff124a;
  position: relative;
  background: none;
  text-align: center;
  justify-content: center;
  color: #ff124a;
  cursor: pointer;
}

.top__rightbox {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 15px;
  height: 25px;
  width: 100%;
  border-bottom: 1px solid grey;
  position: relative;
  background: none;
  text-align: center;
  justify-content: center;
  color: lightgray;
  cursor: not-allowed;
}

.left__box > .bottom__row {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 25px;
}

.right__box {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin: 21px 21px 21px 0;
  border-radius: 6px;
  background: none;
  align-content: center;
}

.right__box > .top__row > {
  display: flex;
  flex: 2;
  flex-direction: row;
  border-radius: 10px;
  background: white;
  margin: 0 41px 11px 0;
  position: relative;
}

.maprow {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.map__img {
  height: 100%;
  width: 100%;
}

.right__box > .bottom__row {
  display: flex;
  flex: 3;
  flex-direction: column;
  border-radius: 10px;
  background: white;
  margin-top: 15px;
}

.right__box > .bottom__row > .bottom__row {
  display: flex;
  flex-direction: row;
}

.right__box > .bottom__row > .top__row {
  display: flex;
  flex-direction: row;
  height: 55px;
  width: 100%;
  font-weight: 500;
  font-size: small;
}

.right__box > .top__row > .map__btn {
  position: absolute;
  right: 38px;
  margin-top: 7px;
  padding: 3px 10px 3px 10px;
  color: #ff124a;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #ff124a;
  cursor: pointer;
}
.zoom__in {
  position: absolute;
  right: 10px;
  margin-top: 3%;
  cursor: pointer;
  width: 10%;
  height: 20%;
  overflow: hidden;
}
.zoom__out {
  position: absolute;
  right: 10px;
  margin-top: calc(3% + 40px);
  cursor: pointer;
  width: 10%;
  height: 20%;
  overflow: hidden;
}

.right__box > .top__row > .__arrow {
  z-index: 50;
  position: absolute;
  margin-top: 14%;
  margin-left: 27%;
  cursor: pointer;
  width: 20px;
  height: 15px;
  color: rgba(0, 0, 0, 0.1);
}

.listView {
  position: relative;
  padding: 10px;
  font-weight: 500;
  font-size: 12px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.logView {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 7px;
  font-weight: 500;
  font-size: 12px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.logView > .top__leftbox__fixed {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 1px;
  text-align: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.logView > .top__leftbox__fixed > a {
  margin-left: 50px;
}

.menuPress {
  position: absolute;
  align-items: right;
  justify-content: right;
  right: 8px;
  height: 40%;
  top: 17px;
}

.list__btn {
  padding: 10px;
  width: 35px;
  border-radius: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 20px;
  font-weight: bolder;
  color: white;
  border: none;
  cursor: pointer;
}

.right__box > .bottom__row > .top__row > .top__activebox {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 15px;
  height: 18px;
  width: 100%;
  border-bottom: 3px solid #ff124a;
  position: relative;
  background: none;
  text-align: center;
  justify-content: center;
  color: #ff124a;
  cursor: pointer;
}

.right__box > .bottom__row > .top__row > .top__rightbox {
  display: flex;
  flex: 2;
  flex-direction: row;
  padding: 15px;
  height: 20px;
  width: 100%;
  border-bottom: 1px solid grey;
  position: relative;
  background: none;
  text-align: center;
  justify-content: center;
  color: lightgray;
  cursor: not-allowed;
}

.right__box > .bottom__row > .top__row > .top__rightbox__icon {
  display: flex;
  flex: 3;
  flex-direction: row;
  padding: 15px;
  height: 20px;
  width: 100%;
  border-bottom: 1px solid grey;
  position: relative;
  justify-content: flex-end;
  color: lightgray;
  cursor: not-allowed;
}

.right__box > .bottom__row > .top__row > .top__rightbox__icon > img {
  margin-right: 30px;
}

.right__box > .bottom__row > .top__row > .top__leftbox__fixed {
  display: flex;
  flex: 5;
  flex-direction: row;
  padding: 15px;
  height: 20px;
  width: 100%;
  border-bottom: 1px solid grey;
  position: relative;
  background: none;
  text-align: center;
  justify-content: center;
  color: black;
  font-weight: 700;
}

.right__box > .bottom__row > .bottom__row > .top__leftbox__fixed {
  display: flex;
  flex: 5;
  flex-direction: row;
  padding: 7px;
  text-align: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.arrow__down {
  position: relative;
  align-items: center;
  text-align: center;
  margin-top: -57px;
  font-weight: 600;
  cursor: pointer;
}

.arrow__down__icon {
  position: absolute;
  transform: rotate(180deg);
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 20px;
  margin-top: 27px;
  left: 50%;
}
