* {
  z-index: 100;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.container {
  overflow: hidden;
  background-color: whitesmoke;
  display: grid;
  height: 100vh;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}
