* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.container {
  background-color: whitesmoke;
  display: grid;
  height: 100vh;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

@media only screen and (max-width: 978px) {
  .container {
    grid-template-columns: 2fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }
}
