.navbar {
  margin: 0 20px 0 20px;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 30px;
  border-bottom: 1px solid black;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__left {
  margin-right: 30px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 700;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__right > img {
  text-decoration: none;
  margin-top: 12px;
  padding: 7px;
  cursor: pointer;
}

.navbar__right > button {
  z-index: auto;
  position: relative;
  color: black;
  font-size: 12px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 7px;
  border-radius: 6px;
  width: 120px;
  margin-right: 20px;
  cursor: pointer;
}

.message__active {
  position: absolute;
  z-index: 2;
  height: 65%;
  width: 17%;
  margin: -20px 0 0 -75px;
  background-color: #ffffff;
  padding: 7px;
  border-radius: 100%;
}

.message__radar {
  position: absolute;
  z-index: -150;
  margin: -375px 0 0 -290px;
  height: 800px;
  width: 800px;
  background-color: rgba(255, 192, 203, 0.2);
  border-radius: 100%;
}

@media only screen and (max-width: 978px) {
  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 480px) {
  .navbar__left {
    display: none;
  }
}
